apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: microservices-demo
spec:
  template:
    spec:
      containers:
        - name: gateway
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: tempo:4317
            - name: OTEL_EXPORTER_OTLP_INSECURE
              value: "true"
            - name: OTEL_SERVICE_NAME
              value: gateway
